$colorLight: #fafafa;
$colorDark: #252529;
$colorLightGrey: #eeeeee;
$colorGrey: #7c7c7c;

$colorWhite: #fff;

$colorDarkGreen: #2e7d32;
$colorGreen: #4caf50;
$colorLightGreen: #4dd0e1;

$color1: #edcfa9;
$color2: #e89f71;
$color3: #d57149;
$color4: #aa4a30;

$bold: 600;
$bolder: 700;
$boldest: 770;

$standardPadding: 20px;
$minorPadding:6px;
$layoutBorderRadius: 4px;
$borderRadius: 2px;


$small: 10px;
$normal: 12px;
$big: 16px;
