$colorLight: #fafafa;
$colorDark: #252529;
$colorLightGrey: #eeeeee;
$colorGrey: #bdbdbd;

$colorWhite: #fff;

$colorDarkGreen: #2e7d32;
$colorGreen: #4caf50;
$colorLightGreen: #4dd0e1;

$color1: #9575cd;
$color2: #7986cb;
$color2: #f48fb1;
$color3: #9575cd;
$color4: #4fc3f7;

$standardPadding: 20px;
$layoutBorderRadius: 5px;